.from,
.to,
.tfrom,
.tto {
	.selectBox {
		cursor: pointer;
	}
}

.selectBox,
.tselectBox {
	height: 50px;
	padding: 10px;
	display: flex;
	column-gap: 5px;
	align-items: center;
	border-radius: 5px;
	outline: 1px solid #999;

	img {
		width: 16px;
	}

	select {
		width: auto;
		font-size: 18px;
		background: none;
		margin-right: -5px;
		flex-grow: 1;

		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-track {
			background: #fff;
		}

		&::-webkit-scrollbar-thumb {
			background: #888;
			border-radius: 8px;
			border-right: 2px solid #f8f9f3;
		}
	}
}

.icon,
.ticon {
	cursor: pointer;
	font-size: 1.2em;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		transform: scale(1.2);
	}
}

.iconActive {
	transition: transform 0.2s ease-in-out;
	transform: rotate(180deg);
}
