.adverts {
	.advertBody {
		padding: 15px;

		.advertTitle {
			text-align: center;
			color: #f00;
			font: {
				weight: 700;
				size: 24px;
			}
		}

		.advert {
			width: 80%;
			border: 1px solid var(--dark);
			margin: 15px auto 0;

			img {
				height: 70%;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.adverts {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.adverts {
		display: block;

		.advertBody {
			.advert {
				width: 100%;

				img {
					width: 100%;
					height: 235px;
				}
			}
		}
	}
}
